@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

.firstrow h2 {
  width: 400px;
  height: 100px;
  color: white;
}

.container {
  width: 100%;
  display: grid !important;
  grid-template-columns: auto !important;
  grid-template-rows: 1fr auto !important;
  justify-content: center !important;
  font-size: 70%;
}

.navbar {
  width: 100% !important;
}

.row {
  display: grid !important;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  justify-content: center;
}

.sidebar {
  width: 100% !important;
}

.list-group {
  display: grid !important;
  justify-content: center;
  grid-template-columns: 6rem 8rem 1fr 1fr;
  font-size: 100%;
}
.list-group-item {
  border-radius: 0 !important;
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-direction: row;
  width: 80%;
  color: white;
}

.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
}
.signup {
  display: none;
}

.type,
.brand,
.login {
  margin-left: 8px;
}
.navbar {
  background-color: rgba(23, 26, 26, 0.8) !important;
  width: 80%;
}

.table {
  background-color: rgba(23, 26, 26, 0.8) !important;
  border: 0;
}

.list-group-item {
  background-color: rgba(23, 26, 26, 0.8) !important;
}

.form-control {
  background-color: rgba(245, 250, 250, 0.8) !important;
}
.grid-home {
  display: grid;
  width: 50%;
  grid-template-rows: 2fr 1fr 1fr;
  color: white;
  font-family: Montserrat;
  font-size: 12px !important;
}
.grid-home a {
  color: white;
}

.firstrow,
.secondrow,
.thirdrow {
  display: flex;
}
.firstrow {
  margin-top: 10%;
  margin-bottom: 30%;
  font-style: italic;
}

/* .firstrow h2 {
  font-weight: 900;
  width: 100%;
} */

.secondrow a {
  font-weight: bolder;
}
.secondrow a:hover {
  font-weight: bolder;
  font-style: italic;
}

.thirdrow {
  margin-top: 20%;
}
.thirdrow div a {
  color: antiquewhite;
  font-size: 100%;
  font-weight: 200;
  display: inline;
}

.nodata {
  color: #ffffff;
}

@media (min-width: 600px) {
  .firstrow h2 {
    width: 500px;
    height: 100px;
    color: white;
  }
  .list-group {
    flex-direction: row !important;
    font-size: 100%;
  }
  .grid-home {
    font-size: 12px !important;
  }
  .message {
    color: white;
    margin-right: 4em;
  }
}
@media (min-width: 768px) {
  .firstrow h2 {
    width: 500px;
    height: 100px;
    color: white;
  }
  .list-group {
    display: grid !important;
    justify-content: center;
    grid-template-columns: 6rem 8rem 1fr 1fr;
    font-size: 100%;
  }
  .message {
    color: white;
    margin-right: 4em;
  }
}
@media (min-width: 999px) {
  .firstrow h2 {
    width: 500px;
    height: 100px;
    color: white;
  }

  .row {
    display: flex !important;
  }
  .list-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  .sidebar {
    width: 25% !important;
  }
}
